// color variables
$--color-grayscale-1: #fff;
$--color-grayscale-2: #dedede;
$--color-grayscale-3: #ccc;
$--color-grayscale-4: #666;
$--color-grayscale-5: #4d4d4d;
$--color-grayscale-6: #262626;
$--color-grayscale-7: #000;

$primary-color: #272727;
$secondary-color: #ff652f;

// map variables
$font-weights: (
    "thin": 200,
    "regular": 400,
    "medium": 500,
    "bold": 700,
    "x-bold": 800
);

$font-size: (
    "small": 1rem,
    "medium": 1.5rem,
    "large": 2rem,
    "x-large": 2.5rem,
    "xx-large": 3rem
);

$mobile: 800px;