@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@500&family=Montserrat:wght@100;300;400;500;600&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,700;6..12,800;6..12,900&display=swap');
@import './resets';
@import './variables';

// functions
@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
    padding: 0;
}

/* ----------------------------------------------------------------*/
/* ----------------------------- M I X I N ------------------------*/
/* ----------------------------------------------------------------*/
// mixin (used to style design)
@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin theme($theme-light: true) {
    @if $theme-light {
        background: lighten($primary-color, 100%);
        color: darken($text-color, 100%);
    }
}

@mixin flexRow {
    display: flex;
    flex-direction: row;
}
@mixin flewCol {
    display: flex;
    flex-direction: column;
}

@mixin flexEnd {
    display: flex;
    justify-content: end;
    align-items: center;
}

@mixin flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin grid {
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
    grid-template-rows: 1fr 90% 1fr;
}

@mixin gridHeader {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

@mixin gridMain {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
}

@mixin gridFooter {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
}

html {
    scroll-behavior: smooth;
}

body {
    @include grid;
    font-family: 'Montserrat', sans-serif;
    color: $--color-grayscale-7;
    font-weight: map-get($font-weights, "bold");

    min-height: 100vh;
}


header {
    @include gridHeader;
    @include flexRow;
    justify-content: end;
    width: 100%;
    height: auto;
    padding: 1%;

    .mail {
        font-weight: map-get($font-weights, "regular");
        text-decoration: none;

        a {
            text-decoration: none;
            letter-spacing: 0.2rem;
            margin: 1rem;
            color: $--color-grayscale-7;
        }
        a:hover {
            font-weight: map-get($font-weights, "medium" );
        }
    }

}

/* ----------------------------------------------------------------*/
/* ------------------------------- M A I N ------------------------*/
/* ----------------------------------------------------------------*/

main {
    @include gridMain;
    width: 100%;
    height: auto;
}

section {
    @include flexCenter;
    width: 100%;
    height: auto;
}

div {
    @include flexCenter;
}

.tittel {
    background-color: $--color-bg-opacity;
    color: $--color-grayscale-1;
    font-weight: map-get($font-weights, "x-bold");
    font-size: map-get($font-size, "xx-large");
    letter-spacing: 0.7rem;
    padding: 1rem;
}

.subtittel {
    font-size: map-get($font-size, "large");
    text-transform: uppercase;
    padding: 1rem;
}
/* ----------------------- seksjon 1 bilde og tittel -------------------------*/
.om__bgbilde{
    background-image: url(/IMG/IMG_6002_Original.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 70vh;

    @include flewCol;
    justify-content: center;
    align-items: start;
    padding-bottom: 2rem;
}


/* ---------------------------- seksjon 3 navbar -------------------------*/
nav {
    width: 100%;
    height: auto;

    margin-bottom: 4rem;
    text-transform: uppercase;

    ul {
        @include flexRow;
        justify-content: space-evenly;
        padding: 1.5rem;

        li {
            list-style: none;
            margin-left: 1rem;

            a {
                text-decoration: none;
                font-weight: map-get($font-weights, "medium")
            }
        }
    }
}
/* ----------------------- seksjon 4 utdanning -------------------------*/
#utdanning {
    background-color: $--color-bg-opacity;
}

.container {
    @include flexRow;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

    width: 100%;
    height: auto;
    padding: 2rem;

    .container__box {
        @include flewCol;
        align-items: start;
        flex-wrap: wrap;
        line-height: 1.5rem;

        width: 20%;
        height: auto;

        padding: 1%;

        .tid {
            font-weight: map-get($font-weights, "bold");
        }
        .sted {
            font-weight: map-get($font-weights, "regular");
        }
        .studie {
            font-weight: map-get($font-weights, "x-bold");
        }
        .beskrivelse {
            font-weight: map-get($font-weights, "thin")
        }
    }

}
/* ---------------------- seksjon 5 arbeidserfaring-----------------------*/

/* .arbeid {
    margin: 0;
    //gjemmer alt utenfor skjermen
    overflow-x: hidden;
}

.content-slider {
    width: 100vw;
    position: relative;
    height: 25em;
    margin: 2em 0;
}

.slider-container {
    background: #eee;
    position: absolute;
    top: 0;
    left: 0;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    width: 200%;
    height: auto;
}

.slide {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    }

.slide .card {
        background: #fff;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    }
.card div {
        padding: 1em 1.5em;
    }
.slide img {
        height: 14em;
        width: 100%;
        object-fit: cover;
    }
.slide h2 {
        margin: 0.2em 0;
    }
.slide p {
        font-size: 0.9em;
        color: #8b8b8b;
    }


.arrow__left, 
.arrow__right {
    background: #000;
    color: #fff;
    border-radius: 50%;
    border: none;
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s;
}

.arrow__left:hover, 
.arrow__right:hover {
    background: #fff;
    color: #000;
}

.arrow__left {
    left: 1em;
} 
.arrow__right {
    right: 1em;
}
 */

.carousel {
    position: relative;
    height: 200px;
    width: 100%;
    margin: 0 auto;
}

.carousel__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.carousel__track-container {
    background: lightgreen;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 200px;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__btn--left {
    left: 10%;
}

.carousel__btn--right {
    right: 10%;
}

.carousel__btn .fa-solid {
    font-size: map-get($font-size, medium);
}

.carousel__nav {
    background: pink;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20%;
    padding: 10px 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0,0,0,.3)
}

.carousel__indicator.current-slide {
    background: rgba(0,0,0,.75)
}

/* ----------------------------------------------------------------*/
/* ------------------------------- FOOTER -------------------------*/
/* ----------------------------------------------------------------*/
footer {
    @include gridFooter;
    @include flexCenter;
    background-color: $--color-grayscale-4;
}


/* ----------------------------------------------------------------*/
/* ------------------------------- MEDIA Q ------------------------*/
/* ----------------------------------------------------------------*/

@media screen and (max-width: 1100px) {
    .slider-container {
        width: 266.5%;
    }
}

@media screen and (max-width: 900px) {
    .slider-container {
        width: 400%;
    }
}

@media screen and (max-width: 600px) {
    .slider-container {
        width: 800%;
    }
}

